<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifteen.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.fifteen.domain.SysRole">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="code" column="code" />
            <result property="description" column="description" />
            <result property="createBy" column="create_by" />
            <result property="modifyBy" column="modify_by" />
            <result property="status" column="status" />
            <result property="created" column="created" />
            <result property="lastUpdateTime" column="last_update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,description,create_by,modify_by,
        status,created,last_update_time
    </sql>
</mapper>
