<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifteen.mapper.CoinServerMapper">

    <resultMap id="BaseResultMap" type="com.fifteen.domain.CoinServer">
            <id property="id" column="id" />
            <result property="rpcIp" column="rpc_ip" />
            <result property="rpcPort" column="rpc_port" />
            <result property="running" column="running" />
            <result property="walletNumber" column="wallet_number" />
            <result property="coinName" column="coin_name" />
            <result property="mark" column="mark" />
            <result property="realNumber" column="real_number" />
            <result property="lastUpdateTime" column="last_update_time" />
            <result property="created" column="created" />
    </resultMap>

    <sql id="Base_Column_List">
        id,rpc_ip,rpc_port,running,wallet_number,coin_name,
        mark,real_number,last_update_time,created
    </sql>
</mapper>
