<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifteen.mapper.ForexClosePositionOrderMapper">

    <resultMap id="BaseResultMap" type="com.fifteen.domain.ForexClosePositionOrder">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="marketId" column="market_id" />
            <result property="marketName" column="market_name" />
            <result property="type" column="type" />
            <result property="accountId" column="account_id" />
            <result property="entrustOrderId" column="entrust_order_id" />
            <result property="orderId" column="order_id" />
            <result property="price" column="price" />
            <result property="num" column="num" />
            <result property="openId" column="open_id" />
            <result property="profit" column="profit" />
            <result property="unlockMargin" column="unlock_margin" />
            <result property="lastUpdateTime" column="last_update_time" />
            <result property="created" column="created" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,market_id,market_name,type,account_id,
        entrust_order_id,order_id,price,num,open_id,
        profit,unlock_margin,last_update_time,created
    </sql>
</mapper>
